### This notebook is Final submission for the hackathon 

https://www.machinehack.com/hackathons/predicting_the_costs_of_used_cars_hackathon_by_imarticus_learning/overview

In [1]:
import lightgbm as lgbm

/Users/lavanyamk/.local/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('train_somewhat_preprocessed_2.csv')
test_df = pd.read_csv('test_somewhat_preprocessed_2.csv')

In [4]:
train_df.shape

(6019, 70)

In [5]:
test_df.shape

(1234, 69)

In [7]:
from sklearn import preprocessing

In [9]:
data = pd.concat([train_df.drop(['Price'],axis=1),test_df],ignore_index=True)

In [10]:
lable_encoder = preprocessing.LabelEncoder()

In [11]:
lable_encoder.fit(data['Brand'])

LabelEncoder()

In [12]:
data.loc[data['Name'].str.contains('turbo|Turbo|TURBO|Eco')]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,...,OpelCorsa,Porsche,Renault,Skoda,Smart,Tata,Toyota,Volkswagen,Volvo,Age
70,Porsche Cayenne 2009-2014 Turbo,Mumbai,2008,73000,Petrol,Automatic,First,8.50,4806,500.00,...,0,1,0,0,0,0,0,0,0,11
93,Ford Ecosport 1.5 DV5 MT Titanium Optional,Delhi,2013,57000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,6
164,Ford Ecosport 1.5 DV5 MT Ambiente,Kochi,2014,147898,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
278,Ford EcoSport 1.0 Ecoboost Titanium Plus,Mumbai,2017,22695,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,2
353,Ford Ecosport 1.5 DV5 MT Titanium Optional,Mumbai,2014,68000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
463,Ford Ecosport 1.5 DV5 MT Titanium,Delhi,2014,31465,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
504,Ford Ecosport 1.5 DV5 MT Titanium Optional,Mumbai,2014,79000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
695,Ford EcoSport 1.5 TDCi Titanium,Bangalore,2013,62084,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,6
726,Ford EcoSport 1.5 Ti VCT AT Titanium,Kochi,2018,37630,Petrol,Automatic,First,15.63,1499,110.40,...,0,0,0,0,0,0,0,0,0,1
787,Ford EcoSport 1.5 Ti VCT MT Titanium BE,Mumbai,2017,4018,Petrol,Manual,First,18.88,1499,110.40,...,0,0,0,0,0,0,0,0,0,2
894,Mahindra Scorpio LX 2.6 Turbo,Hyderabad,2008,131000,Diesel,Manual,First,10.50,2609,120.00,...,0,0,0,0,0,0,0,0,0,11
929,Ford EcoSport 1.5 TDCi Titanium,Chennai,2015,80000,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,4
982,Ford EcoSport 1.5 TDCi Titanium,Bangalore,2015,47037,Diesel,Manual,Second,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,4
1010,Ford Ecosport Signature Edition Diesel,Coimbatore,2019,23154,Diesel,Manual,First,23.00,1498,98.96,...,0,0,0,0,0,0,0,0,0,0
1048,Ford EcoSport 1.5 TDCi Titanium,Kolkata,2013,44000,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,6
1050,Ford EcoSport 1.5 Petrol Titanium Plus AT,Coimbatore,2018,18385,Petrol,Automatic,First,14.80,1497,121.36,...,0,0,0,0,0,0,0,0,0,1
1053,Ford Ecosport 1.5 DV5 MT Titanium,Hyderabad,2013,69000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,6
1175,Ford EcoSport 1.5 Ti VCT AT Titanium BE,Kolkata,2017,1800,Petrol,Automatic,First,16.05,1499,110.40,...,0,0,0,0,0,0,0,0,0,2
1295,Ford EcoSport 1.0 Ecoboost Titanium Plus BE,Kochi,2014,54173,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,5
1326,Ford Ecosport 1.5 DV5 MT Titanium,Jaipur,2014,60000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
1400,Ford Ecosport 1.5 DV5 MT Titanium Optional,Coimbatore,2015,92708,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,4
1406,Ford EcoSport 1.5 TDCi Ambiente,Kolkata,2017,30000,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,2
1410,Ford Ecosport 1.0 Ecoboost Platinum Edition,Mumbai,2017,22000,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,2
1437,Ford EcoSport 1.5 Petrol Titanium,Pune,2018,17000,Petrol,Manual,First,17.00,1497,121.36,...,0,0,0,0,0,0,0,0,0,1
1525,Ford EcoSport 1.5 Diesel Titanium Plus,Chennai,2016,29200,Diesel,Manual,First,23.00,1498,98.96,...,0,0,0,0,0,0,0,0,0,3
1625,Ford Ecosport 1.5 Ti VCT AT Titanium,Mumbai,2013,38000,Petrol,Automatic,First,16.50,1499,110.00,...,0,0,0,0,0,0,0,0,0,6
1633,Ford Ecosport 1.5 DV5 MT Titanium Optional,Kochi,2017,75445,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,2
1735,Ford Ecosport 1.5 DV5 MT Titanium,Hyderabad,2014,62700,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
1789,Ford Ecosport 1.5 DV5 MT Trend,Kochi,2015,65925,Diesel,Manual,Second,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,4
1923,Ford EcoSport 1.5 Diesel Titanium Plus,Kochi,2017,78526,Diesel,Manual,First,23.00,1498,98.96,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5833,Ford EcoSport 1.5 TDCi Trend,Delhi,2015,57000,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,4
5835,Ford Ecosport 1.5 DV5 MT Ambiente,Hyderabad,2014,56549,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
5886,Ford EcoSport 1.5 Ti VCT AT Titanium,Mumbai,2015,23000,Petrol,Automatic,First,15.63,1499,110.40,...,0,0,0,0,0,0,0,0,0,4
5901,Ford Ecosport 1.5 DV5 MT Titanium Optional,Mumbai,2014,59000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
5904,Ford Ecosport 1.5 DV5 MT Titanium,Mumbai,2015,44000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,4
5934,Ford Ecosport 1.5 DV5 MT Titanium,Kolkata,2014,57000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
5944,Ford EcoSport 1.0 Ecoboost Titanium Plus,Delhi,2015,64000,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,4
6070,Ford Ecosport 1.5 DV5 MT Titanium,Mumbai,2014,62000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
6157,Ford EcoSport 1.0 Ecoboost Titanium Plus,Hyderabad,2014,56000,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,5
6171,Ford Ecosport 1.5 DV5 MT Titanium Optional,Kochi,2015,69062,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,4
6178,Ford EcoSport 1.5 Diesel Titanium,Chennai,2015,67630,Diesel,Manual,First,23.00,1498,98.96,...,0,0,0,0,0,0,0,0,0,4
6292,Ford EcoSport 1.5 Diesel Titanium,Ahmedabad,2017,28000,Diesel,Manual,First,23.00,1498,98.96,...,0,0,0,0,0,0,0,0,0,2
6424,Ford Ecosport 1.5 DV5 MT Ambiente,Coimbatore,2016,38503,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,3
6453,Ford EcoSport 1.5 TDCi Titanium,Kochi,2017,25571,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,2
6514,Ford EcoSport 1.5 Ti VCT AT Titanium,Kolkata,2013,41000,Petrol,Automatic,First,15.63,1499,110.40,...,0,0,0,0,0,0,0,0,0,6
6546,Mahindra Scorpio SLX 2.6 Turbo 8 Str,Hyderabad,2007,51000,Diesel,Manual,First,10.50,2179,120.00,...,0,0,0,0,0,0,0,0,0,12
6565,Ford EcoSport 1.5 TDCi Titanium,Kolkata,2015,54407,Diesel,Manual,First,22.77,1498,98.59,...,0,0,0,0,0,0,0,0,0,4
6589,Ford Ecosport 1.5 DV5 MT Titanium,Hyderabad,2014,34000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
6618,Ford Ecosport 1.0 Ecoboost Titanium,Coimbatore,2016,37354,Petrol,Manual,First,18.88,999,123.37,...,0,0,0,0,0,0,0,0,0,3
6666,Ford Ecosport 1.0 Ecoboost Titanium,Mumbai,2014,86000,Petrol,Manual,First,18.88,999,123.37,...,0,0,0,0,0,0,0,0,0,5
6731,Ford Ecosport 1.5 Ti VCT AT Titanium,Chennai,2013,39000,Petrol,Automatic,First,16.50,1499,110.00,...,0,0,0,0,0,0,0,0,0,6
6745,Ford Ecosport 1.5 DV5 MT Trend,Pune,2013,70000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,6
6775,Ford Ecosport 1.5 Ti VCT MT Trend,Delhi,2014,44000,Petrol,Manual,First,15.80,1499,110.00,...,0,0,0,0,0,0,0,0,0,5
6856,Ford Ecosport 1.5 DV5 MT Ambiente,Chennai,2014,68000,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,5
6898,Ford EcoSport 1.5 Ti VCT MT Titanium,Coimbatore,2018,12899,Petrol,Manual,First,15.85,1499,110.40,...,0,0,0,0,0,0,0,0,0,1
6907,Ford Ecosport 1.0 Ecoboost Platinum Edition,Mumbai,2017,15000,Petrol,Manual,First,18.88,999,123.24,...,0,0,0,0,0,0,0,0,0,2
6940,Ford Ecosport 1.5 DV5 MT Titanium Optional,Kochi,2015,63402,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,4
6967,Ford Ecosport 1.5 DV5 MT Ambiente,Kolkata,2013,53967,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,6
7037,Ford Ecosport 1.5 DV5 MT Ambiente,Kochi,2017,61041,Diesel,Manual,First,22.70,1498,89.84,...,0,0,0,0,0,0,0,0,0,2
7231,Ford EcoSport 1.5 Petrol Ambiente,Kochi,2017,39015,Petrol,Manual,First,17.00,1497,121.36,...,0,0,0,0,0,0,0,0,0,2

In [13]:
car_badge = ['DX','CE','LE','DLS','DLE','GLS','GLA','GLE','GL ','GT','LS','LT','LTD','LTZ','LTS','EX','RS','SE','SL','SLE','SLT']

In [14]:
for i in range(len(car_badge)):
    data.loc[data['Name'].str.contains(car_badge[i]),'Car Badge']=car_badge[i]

In [15]:
data.loc[data['Car Badge'].isna(),'Car Badge']= 'not_known'

In [17]:
#label_encode_car_badge = preprocessing.LabelEncoder()
#label_encode_car_badge.fit(data['Car Badge'])

LabelEncoder()

In [16]:
car_badge = pd.get_dummies(data['Car Badge'])

In [18]:
#data['Car_badge_encoding']= label_encode_car_badge.transform(data['Car Badge'])

In [17]:
data['Car Badge'].value_counts()

not_known    6713
LS            148
EX             84
LT             61
SE             55
GLE            36
LTZ            30
GT             28
RS             20
GLA            20
SL             17
SLE            13
DX             12
GL              9
LE              4
DLE             3
Name: Car Badge, dtype: int64

In [32]:
data = pd.concat([data,car_badge],axis=1).drop(['not_known'],axis=1)

In [22]:
data.Location.unique()

array(['Mumbai', 'Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [21]:
data.loc[data['Name'].str.contains('Sedan'),'Name'].value_counts()

BMW 5 Series 520d Sedan              7
BMW 5 Series 525d Sedan              5
BMW 3 Series 320i Sedan              4
BMW 3 Series 320d Sedan              4
BMW 7 Series 730Ld Sedan             3
BMW 3 Series 2005-2011 325i Sedan    3
BMW 5 Series 2007-2010 525d Sedan    2
BMW 5 Series 523i Sedan              2
BMW 7 Series 740i Sedan              1
BMW 5 Series 530i Sedan              1
BMW 5 Series 530d Highline Sedan     1
BMW 5 Series 2003-2012 540i Sedan    1
BMW 3 Series 318i Sedan              1
Name: Name, dtype: int64

In [22]:
data.loc[data['Name'].str.contains('SUV|suv'),'Name'].value_counts()

Series([], Name: Name, dtype: int64)

In [23]:
data.loc[data['Name'].str.contains('Hatchback|hatchback'),'Name'].value_counts()

Chevrolet Sail Hatchback 1.2 LS        2
Chevrolet Sail Hatchback LS ABS        2
Chevrolet Sail Hatchback 1.2           1
Chevrolet Sail Hatchback 1.2 LS ABS    1
Name: Name, dtype: int64

In [23]:
fuel_price = pd.read_csv('Fuel_charge.csv')

In [ ]:
fuel_price.loc[fuel_price['City']=='Kochi','CNG'] = 50

In [51]:
fuel_price.loc[fuel_price['City']=='Chennai','CNG'] = 42.22

In [52]:
fuel_price.loc[fuel_price['City']=='Ahmedabad','CNG'] = 46.75

In [56]:
fuel_price.loc[fuel_price['City']=='Kolkata','CNG'] = 45.35

In [85]:
fuel_price.to_csv('Fuel_charge.csv',index=False)

In [24]:
data.Fuel_Type.value_counts()

Diesel      3852
Petrol      3325
CNG           62
LPG           12
Electric       2
Name: Fuel_Type, dtype: int64

In [25]:
data.Location.value_counts()

Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: Location, dtype: int64

In [26]:
fuel_price_city = list(fuel_price['City'].values)

In [27]:
for i in range(18):
    data.loc[(data['Fuel_Type']=='Petrol') & (data['Location']==fuel_price['City'].loc[i]),
             'Fuel_price']=fuel_price['Petrol'].loc[i]
    data.loc[(data['Fuel_Type']=='Diesel') & (data['Location']==fuel_price['City'].loc[i]),
             'Fuel_price']=fuel_price['Deisel'].loc[i]
    data.loc[(data['Fuel_Type']=='CNG') & (data['Location']==fuel_price['City'].loc[i]),
             'Fuel_price']=fuel_price['CNG'].loc[i]
    data.loc[(data['Fuel_Type']=='LPG') & (data['Location']==fuel_price['City'].loc[i]),
             'Fuel_price']=fuel_price['LPG'].loc[i]
    data.loc[(data['Fuel_Type']=='Electric') & (data['Location']==fuel_price['City'].loc[i]),
             'Fuel_price']=fuel_price['Electric'].loc[i]

In [28]:
data['Fuel_price'].value_counts()

70.11     593
75.88     558
68.27     430
72.43     405
75.80     387
67.45     371
66.16     364
64.33     361
68.11     358
73.31     342
68.05     341
72.44     337
66.25     316
70.18     287
67.07     276
74.59     274
66.50     273
72.90     247
70.56     219
67.03     169
72.60     166
67.57     103
51.57      31
45.70      12
50.00       9
768.00      6
699.50      4
46.75       3
64.92       3
42.22       2
5.00        2
684.50      1
45.35       1
728.50      1
58.55       1
Name: Fuel_price, dtype: int64

In [29]:
data[data['Fuel_price'].isna()]

Empty DataFrame
Columns: [Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, New_Price, CNG, Diesel, Electric, LPG, Petrol, First, Fourth & Above, Second, Third, Automatic, Manual, Ahmedabad, Bangalore, Chennai, Coimbatore, Delhi, Hyderabad, Jaipur, Kochi, Kolkata, Mumbai, Pune, Brand, Ambassador, Audi, BMW, Bentley, Chevrolet, Datsun, Fiat, Force, Ford, Hindustan, Honda, Hyundai, ISUZU, Isuzu, Jaguar, Jeep, Lamborghini, Land, Mahindra, Maruti, Mercedes-Benz, Mini, Mitsubishi, Nissan, OpelCorsa, Porsche, Renault, Skoda, Smart, Tata, Toyota, Volkswagen, Volvo, Age, Car Badge, Fuel_price]
Index: []

[0 rows x 71 columns]

In [30]:
fuel_price['Petrol'].loc[0]

70.18

In [61]:
#df_train['Brand_encoding'] =lable_encoder.transform(train_df['Brand'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
#df_test['Brand_encoding'] = lable_encoder.transform(test_df['Brand'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'CNG', 'Diesel', 'Electric', 'LPG', 'Petrol', 'First',
       'Fourth & Above', 'Second', 'Third', 'Automatic', 'Manual', 'Ahmedabad',
       'Bangalore', 'Chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Mumbai', 'Pune', 'Brand', 'Ambassador', 'Audi',
       'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'ISUZU', 'Isuzu', 'Jaguar', 'Jeep',
       'Lamborghini', 'Land', 'Mahindra', 'Maruti', 'Mercedes-Benz', 'Mini',
       'Mitsubishi', 'Nissan', 'OpelCorsa', 'Porsche', 'Renault', 'Skoda',
       'Smart', 'Tata', 'Toyota', 'Volkswagen', 'Volvo', 'Age', 'Car Badge',
       'Fuel_price', 'DLE', 'DX', 'EX', 'GL ', 'GLA', 'GLE', 'GT', 'LE', 'LS',
       'LT', 'LTZ', 'RS', 'SE', 'SL', 'SLE'],
      dtype='object')

In [35]:
data_reduced =data[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
                   'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
                   'New_Price','Age','Fuel_price','Ahmedabad',
       'Bangalore', 'Chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Mumbai', 'Pune','Brand','DLE', 'DX', 'EX', 'GL ', 'GLA', 'GLE', 'GT', 'LE', 'LS',
       'LT', 'LTZ', 'RS', 'SE', 'SL', 'SLE']]

In [159]:
#label_fuel = preprocessing.LabelEncoder()
#data_reduced['Fuel_Type_Encoding'] = label_fuel.fit_transform(data_reduced['Fuel_Type'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [95]:
pd.concat([data_reduced[:6019],train_df['Price']],axis=1).to_csv("train_data_reduced.csv",index=False)
data_reduced[6019:].to_csv('test_data_reduced.csv',index=False)

In [36]:
data_reduced.loc[data_reduced['New_Price'].isna(),'New_Price']= '0 Lakh'

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [37]:
data_reduced['New_Price_converted'] = data_reduced['New_Price'].apply(lambda x:x.split()[0]).astype(float)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
##label_location = preprocessing.LabelEncoder()
##data_reduced['Location_Encoding'] = label_location.fit_transform(data_reduced['Location'])
label_transmission = preprocessing.LabelEncoder()
data_reduced['Transmission_Encoding'] = label_transmission.fit_transform(data_reduced['Transmission'])
label_owner = preprocessing.LabelEncoder()
data_reduced['Owner_Type_Encoding'] = label_owner.fit_transform(data_reduced['Owner_Type'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
data_reduced['Model_name'] = data_reduced['Name'].apply(lambda x: str(x.split()[0]+'_'+x.split()[1]))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
model_name = pd.get_dummies(data_reduced['Model_name'])

In [41]:
data_reduced.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Age', 'Fuel_price', 'Ahmedabad', 'Bangalore', 'Chennai',
       'Coimbatore', 'Delhi', 'Hyderabad', 'Jaipur', 'Kochi', 'Kolkata',
       'Mumbai', 'Pune', 'Brand', 'DLE', 'DX', 'EX', 'GL ', 'GLA', 'GLE', 'GT',
       'LE', 'LS', 'LT', 'LTZ', 'RS', 'SE', 'SL', 'SLE', 'New_Price_converted',
       'Transmission_Encoding', 'Owner_Type_Encoding', 'Model_name'],
      dtype='object')

In [191]:
data_reduced[(data_reduced['Brand']=='ISUZU')|(data_reduced['Brand']=='Isuzu')]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,...,Skoda,Smart,Tata,Toyota,Volkswagen,Volvo,Kilometers_by_per_year,Engine_litre,Latitude,Longitude
2900,Isuzu MUX 4WD,Jaipur,2017,34429,Diesel,Automatic,First,13.80,2999,174.57,...,0,0,0,0,0,0,17214.5,11.480160,26.916194,75.820349
3624,ISUZU D-MAX V-Cross 4X4,Coimbatore,2018,20422,Diesel,Manual,First,12.40,2499,134.00,...,0,0,0,0,0,0,20422.0,8.172069,11.001812,76.962842
5979,ISUZU D-MAX V-Cross 4X4,Jaipur,2017,25000,Diesel,Manual,First,12.40,2499,134.00,...,0,0,0,0,0,0,12500.0,10.004002,26.916194,75.820349
6470,Isuzu MU 7 4x2 HIPACK,Kolkata,2016,45000,Diesel,Manual,First,12.08,2999,161.00,...,0,0,0,0,0,0,15000.0,15.005002,22.567746,88.347602
6919,ISUZU D-MAX V-Cross 4X4,Jaipur,2017,290000,Diesel,Manual,First,12.40,2499,134.00,...,0,0,0,0,0,0,145000.0,116.046419,26.916194,75.820349

In [42]:
data_reduced = pd.concat([data_reduced,model_name],axis=1)

In [43]:
brand = pd.get_dummies(data_reduced['Brand'])

In [44]:
data_reduced = pd.concat([data_reduced,brand],axis=1)

In [192]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
x_brand = v.fit_transform(data_reduced['Brand'])

In [170]:
import geopy.location as geo_location
from geopy.geocoders import Nominatim

In [176]:
geolocator = Nominatim()
cities = list(data_reduced['Location'].unique())
country ="India"
for city in cities:
    locate = geolocator.geocode(city+','+ country)
    data_reduced.loc[data_reduced['Location']==city,'Latitude']=locate.latitude
    data_reduced.loc[data_reduced['Location']==city,'Longitude']=locate.longitude
    print(city+":"+str(locate.latitude)+","+str(locate.longitude))


#geo_location.Location(address='Bangalore'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

Mumbai:18.9387711,72.8353355
Pune:18.5203062,73.8543185
Chennai:13.0801721,80.2838331
Coimbatore:11.0018115,76.9628425
Hyderabad:17.3616079,78.4746286
Jaipur:26.916194,75.820349
Kochi:9.9633864,76.2536614
Kolkata:22.5677459,88.3476023
Delhi:28.6517178,77.2219388
Bangalore:12.9791198,77.5912997
Ahmedabad:23.0216238,72.5797068

In [48]:
data_reduced['ISUZU'] = data_reduced['ISUZU']+data_reduced['Isuzu']
del data_reduced['Isuzu']

In [149]:
data_reduced.Brand.unique()

array(['Maruti', 'Hyundai', 'Honda', 'Audi', 'Nissan', 'Toyota',
       'Volkswagen', 'Tata', 'Land', 'Mitsubishi', 'Renault',
       'Mercedes-Benz', 'BMW', 'Mahindra', 'Ford', 'Porsche', 'Datsun',
       'Jaguar', 'Volvo', 'Chevrolet', 'Skoda', 'Mini', 'Fiat', 'Jeep',
       'Smart', 'Ambassador', 'Isuzu', 'ISUZU', 'Force', 'Bentley',
       'Lamborghini', 'Hindustan', 'OpelCorsa'], dtype=object)

In [167]:

#data_reduced['Model_name_Encoding'] = preprocessing.LabelEncoder().fit_transform(data_reduced['Model_name'])

In [45]:
data_reduced['Kilometers_by_per_year'] = data_reduced['Kilometers_Driven']/data_reduced['Age']

In [148]:
data_reduced['Engine_litre'] = data_reduced['Kilometers_Driven']/data_reduced['Engine']

In [50]:
temp = data.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand','Car Badge'],axis=1)
df_train = temp[:6019]
df_test = temp[6019:]

In [178]:
temp = data_reduced.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand','Model_name'],axis=1)
df_train = temp[:6019]
df_test = temp[6019:]

In [179]:
'''
df_train = train_df.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand','Price'],axis=1)
df_test = test_df.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand'],axis=1)
'''

"\ndf_train = train_df.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand','Price'],axis=1)\ndf_test = test_df.drop(['Fuel_Type','Owner_Type','Transmission','Location','New_Price','Name','Brand'],axis=1)\n"

In [180]:
df_target = train_df[['Price']]

In [181]:
#del df_train['Year']
#del df_test['Year']

In [182]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.metrics import mean_squared_log_error

def rmsle_cv(model):
    kf = KFold(n_splits=5, shuffle=True, random_state=90).get_n_splits(df_train.values)
    rmse= np.sqrt(-cross_val_score(model, df_train.values, df_target.values, scoring="neg_mean_squared_log_error", cv = kf))
    print(rmse)
    return(rmse)

In [183]:
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor,BaggingRegressor

In [188]:
lgbmr = lgbm.LGBMRegressor(n_estimators=60,num_leaves=300,min_child_samples=15,learning_rate=0.095)
#gbr = GradientBoostingRegressor()

In [194]:
rmsle_cv(lgbmr)
#0.17334768 0.16560297 0.17228156 0.16489429 0.16918989
#[0.16595    0.16381451 0.17946319 0.16543243 0.16725304]
#0.16403303 0.16438792 0.17861811 0.16727336 0.1654432
#0.16419121 0.16330832 0.17360209 0.16819709 0.17095877
#[0.16263038 0.16361457 0.17217961 0.16881051 0.16944638] after adding lattitude and longitude

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0.16263038 0.16361457 0.17217961 0.16881051 0.16944638]

array([0.16263038, 0.16361457, 0.17217961, 0.16881051, 0.16944638])

In [164]:
rfr = RandomForestRegressor(n_estimators=70)

In [ ]:
rmsle_cv(rfr)
#0.18618854 0.186489   0.19597522 0.18386189 0.18411782
#0.18463811 0.18499372 0.19798856 0.18180352 0.18835696
#0.18616785 0.18952343 0.19312987 0.17990713 0.18580735

In [ ]:
rmsle_cv(gbr)
#0.20708859, 0.21013381, 0.21375848, 0.20480448, 0.211188
#0.20758252 0.20803649 0.214338   0.20676181 0.20952544

In [61]:
df_train.shape

(6019, 293)

In [146]:
lgbmr.fit(df_train,df_target)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.095, max_depth=-1,
       min_child_samples=10, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=75, n_jobs=-1, num_leaves=300, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [39]:
df_test[pd.DataFrame({'Price':lgbmr.predict(df_test)})['Price']<=0]

Empty DataFrame
Columns: [Year, Kilometers_Driven, Mileage, Engine, Power, Seats, CNG, Diesel, Electric, LPG, Petrol, First, Fourth & Above, Second, Third, Automatic, Manual, Ahmedabad, Bangalore, Chennai, Coimbatore, Delhi, Hyderabad, Jaipur, Kochi, Kolkata, Mumbai, Pune, Ambassador, Audi, BMW, Bentley, Chevrolet, Datsun, Fiat, Force, Ford, Hindustan, Honda, Hyundai, ISUZU, Isuzu, Jaguar, Jeep, Lamborghini, Land, Mahindra, Maruti, Mercedes-Benz, Mini, Mitsubishi, Nissan, OpelCorsa, Porsche, Renault, Skoda, Smart, Tata, Toyota, Volkswagen, Volvo, Age]
Index: []

[0 rows x 62 columns]

In [147]:
pd.DataFrame({'Price':lgbmr.predict(df_test)}).to_excel('fourth_submission.xlsx',index=False)

In [196]:
pd.concat([data_reduced[:6019],train_df['Price']],axis=1).to_csv("train_somewhat_preprocessed_4.csv",index=False)
data_reduced[6019:].to_csv('test_somewhat_preprocessed_4.csv',index=False)

In [195]:
data_reduced.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       ...
       'Skoda', 'Smart', 'Tata', 'Toyota', 'Volkswagen', 'Volvo',
       'Kilometers_by_per_year', 'Engine_litre', 'Latitude', 'Longitude'],
      dtype='object', length=304)